---
import Accordion from "@/components/Accordion.astro";
import Content from "@/components/Content.astro";
import ContentImage from "@/components/ContentImage.astro";
import HomeBanner from "@/components/HomeBanner.astro";
import PageTitle from "@/components/PageTitle.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import BadgeGroup from "@/components/badge/BadgeGroup.astro";
import BadgeIcon from "@/components/badge/BadgeIcon.astro";
import BadgeMessage from "@/components/badge/BadgeMessage.astro";
import Card from "@/components/card/Card.astro";
import CardBody from "@/components/card/CardBody.astro";
import CardGroup from "@/components/card/CardGroup.astro";
import CardHeader from "@/components/card/CardHeader.astro";
import CardImage from "@/components/card/CardImage.astro";
import faqData from "@/data/faqData.json";
import featuresData from "@/data/featuresData";
import Layout from "@/layouts/Layout.astro";
import calendarImg from "/public/images/features4.png";
import bankImg from "/public/images/features5.png";
---

<Layout
    title="EDUCRM"
    description="Организуйте процесс образования с наше помощью"
>
    <div class="main-wrapper bg-[#F3F5F8] relative z-10 pb-20 pt-20">
        <HomeBanner />
        <!-- Home Banner -->
        <SectionContainer
            class="components--container wrap wrap-px grid gap-8 sm:gap-24"
        >
            <SectionContainer id="features" class="features">
                <BadgeGroup alignment="center">
                    <BadgeMessage>Возможности</BadgeMessage>
                    <BadgeIcon icon="mdi:star-circle-outline" />
                </BadgeGroup>
                <PageTitle class="text-center mx-auto" type="default">
                    Не можете собрать все материалы и чаты вместе?
                </PageTitle>
                <Content class="text-center" alignment="center">
                    <p>
                        Попрощайтесь с хаосом и воспользуйтесь нашей платформой
                        для работы с учениками!
                    </p>
                </Content>
                <ContentImage contentImageData={featuresData} />
            </SectionContainer>
            <!-- Features -->
            <SectionContainer class="feature-tabs">
                <BadgeGroup alignment="center">
                    <BadgeMessage>Больше возможностей</BadgeMessage>
                    <BadgeIcon icon="twemoji:waving-hand" />
                </BadgeGroup>
                <PageTitle class="text-center mx-auto" type="default">
                    Упрости планирование занятий и хранение заданий
                </PageTitle>
                <Content class="text-center" alignment="center">
                    <p>
                        Наш календарь позволит вам назначать и переносить
                        занятия, а банк задач хранить все задания в одном месте.
                    </p>
                </Content>
                <CardGroup
                    class="grid scroll-m-24 gap-8 grid-cols-1 max-w-4xl mx-auto mt-24 md:grid-cols-2"
                >
                    <Card class="col-span-1 text-primary-900">
                        <CardBody class="w-full bg-white-600/20 p-12">
                            <CardImage
                                src={calendarImg.src}
                                width={calendarImg.width}
                                height={calendarImg.height}
                                alt="Customizable Layouts image used."
                            />
                            <CardHeader
                                class="!text-black !text-2xl !font-bold"
                            >
                                Планирование занятий
                            </CardHeader>
                            <p>
                                Упростите процесс назначения занятий и соберите
                                все уроки в одном месте. Создавайте, изменяйте,
                                удаляйте события - ученик получит уведомление в
                                свой мессенджер.
                            </p>
                        </CardBody>
                    </Card>
                    <Card class="col-span-1 text-primary-900">
                        <CardBody class="w-full bg-white-600/20 p-12">
                            <CardImage
                                src={bankImg.src}
                                width={bankImg.width}
                                height={bankImg.height}
                                alt="Progress Tracking image used."
                            />
                            <CardHeader
                                class="!text-black !text-2xl !font-bold"
                            >
                                Хранение заданий в банке задач
                            </CardHeader>
                            <p>
                                Храните все задания в одном месте.
                                Переипользуйте их при создания домашнего
                                задания.
                            </p>
                        </CardBody>
                    </Card>
                </CardGroup>
            </SectionContainer>
            <!-- More Features -->
            <!--<SectionContainer id="testimonials" class="benefits">-->
            <!--    <BadgeGroup alignment="center">-->
            <!--        <BadgeMessage>Отзывы</BadgeMessage>-->
            <!--        <BadgeIcon icon="twemoji:waving-hand"/>-->
            <!--    </BadgeGroup>-->
            <!--    <PageTitle class="" type="default">-->
            <!--        Вот что наши пользователи говорят о EDUCRM-->
            <!--    </PageTitle>-->
            <!--    <Column columnData={testimonialData}/>-->
            <!--</SectionContainer>-->
            <!--&lt;!&ndash; Testimonials &ndash;&gt;-->
            <SectionContainer id="faq" class="faq">
                <BadgeGroup alignment="center">
                    <BadgeMessage>Часто задаваемые вопросы</BadgeMessage>
                </BadgeGroup>
                <PageTitle class="text-center mx-auto" type="default">
                    Остались вопросы по нашему сервису?
                </PageTitle>
                <Accordion accordionData={faqData} />
            </SectionContainer>
        </SectionContainer>
    </div>
    <!-- FAQ -->
</Layout>
<!-- Components Container -->
